body {
	transition: color 1s, background 1s, border-color 1s;
}

.player-card {
	border: 1px solid black;
	width: 175px;
	height: 175px;
	margin-bottom: 15px;
	/* border-radius: 100px; */
}
/*
.player-card h1 {
	font-size: 20%;
} */

.player-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	text-align: center;
}

.dark-mode {
	background: black;
	color: white;
	border-color: white;
}

.dark-mode .player-card {
	border-color: white;
}

.dark-mode .darkBtn {
	background: black;
	color: white;
	border-color: white;
}

.App {
	display: flex;
	flex-direction: column;
}

.darkBtn {
	transition: color 1s, background 1s, border-color 1s;
	height: 50px;
	margin: 10px 5px;
	font-size: 21px;
}

h1 {
	text-align: center;
}
